#container-home{
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between ;
    text-align: center;
}

.box-A{
    width: 100%;
    height: 150px;
    background-color: coral;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 140px;
    font-size: 80px;
    
}

.box-B{
    width: 76%;
    height: 150px;
    background-color: coral;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 140px;
    font-size: 80px;
    
}

.box-C{
    width: 25%;
    height: 150px;
    background-color: coral;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 5px;
    line-height: 140px;
    font-size: 80px;
    
}

.box-D{
    width: 25%;
    height: 150px;
    background-color: coral;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
    line-height: 140px;
    font-size: 80px;
    
}

.box-E{
    width: 25%;
    height: 150px;
    background-color: coral;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
    line-height: 140px;
    font-size: 80px; 
}

.box-F{
    width: 21.1%;
    height: 310px;
    background-color: coral;
    margin-top: -170px;
    margin-right: 5px;
    line-height: 300px;
    font-size: 80px;
}

